#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* styles.css */
.search-bar .search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 700px;
  padding: 8px 40px 8px 8px; /* Tăng padding-right để tạo không gian cho icon */
  border: 1px solid #ccc;
  border-radius: 20px; /* Bo góc */
}

.search-bar .search-button {
  position: absolute;
  right: 0;
  padding: 0 15px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  height: 100%;
}

.search-bar .search-button:focus {
  outline: none;
}


.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  padding: 10px;
  margin: 0 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.navbar li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar li a:hover {
  color: blue; 
}
/* Thêm responsive cho navbar */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .navbar li {
    margin: 5px 0;
  }
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 0; /* Cập nhật padding cho phù hợp */
  z-index: 1;
}

.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Đảm bảo các mục xếp dọc */
}

/* Thêm hiệu ứng khi hover qua mục menu con */
.submenu a:hover {
  background-color: #ddd;
  font-weight: bold;
}

/* Hiển thị menu con khi hover */
.nav-item:hover .submenu {
  display: block;
}

/* Định style cho mục nav-item để các mục con không làm lệch layout */
.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item > a {
  margin: auto;
  position: relative;
  padding-right: 25px; /* Đảm bảo có đủ không gian cho icon */
}

.nav-item > a::after {

  position: absolute;
  right: 5px;
  top: 0;
  font-weight: bold; /* Làm cho mũi tên đậm hơn */
}

/* CSS cho icon mặc định */
.nav-item .nav-icon {
  transition: transform 0.3s ease; /* Suavizar a transição */
}

/* CSS khi di chuột vào nav-item để xoay icon */
.nav-item:hover .nav-icon {
  transform: rotate(180deg); /* Xoay icon 180 độ */
}


